.movie-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-poster {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.movie-info {
    flex: 1;
}

.movie-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-info .description {
    font-size: 16px;
    margin-bottom: 10px;
}

.movie-info p {
    margin: 5px 0;
}

.movie-info .genres {
    margin-top: 10px;
    font-size: 14px;
}

@media (min-width: 600px) {
    .movie-details {
        flex-direction: row;
    }

    .movie-poster {
        max-width: 300px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .movie-info h2 {
        font-size: 24px;
    }

    .movie-info .description {
        font-size: 16px;
    }

    .movie-info p, .movie-info .genres {
        font-size: 14px;
    }
}
