.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.filters div {
    flex: 1;
    margin: 0 10px;
}

.filters h3 {
    margin-bottom: 10px;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.movie-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    text-decoration: none;
    color: inherit;
}

.movie-item:hover {
    transform: scale(1.05);
}

.movie-poster {
    max-width: 100%;
    height: auto;
    max-height: 60%;
    margin-bottom: 10px;
}

.next-page-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

@media (min-width: 600px) {
    .filters {
        flex-direction: row;
        justify-content: space-between;
    }

    .filters div {
        margin-bottom: 0;
        flex: 1;
        margin-right: 10px;
    }

    .filters div:last-child {
        margin-right: 0;
    }

    .movie-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
