.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.movie-item-link {
    text-decoration: none;
    color: inherit;
}

.movie-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.movie-item:hover {
    transform: scale(1.05);
}

.movie-poster {
    max-width: 100%;
    height: auto;
}

.next-page-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}